In [ ]:
# Source : http://satudata.bandung.go.id/dataset/daftar-harga-komoditas-bahan-pokok-di-pasar-baru-tahun-2019

# Data   : Harga komoditas bahan pokok di Pasar Baru Bandung Januari-Juni 2019
# Ukuran : 182 baris x 8 kolom

In [8]:
import pandas as pd

df = pd.read_excel("harga_sembako_pasarbarubandung.xlsx")

In [9]:
# Menghapus baris dengan data 0 

for kolom in df.columns:

    if kolom == "tanggal":
        continue

    df = df.loc[df[f"{kolom}"] != 0]

In [10]:
print(df)

        tanggal  cabe_merah  bawang_merah  daging_ayam_ras  telur_ayam_ras  \
1    2019-01-02       40000         35000            41000           27000
3    2019-01-04       40000         35000            41000           27000
6    2019-01-07       40000         35000            35000           25000
7    2019-01-08       40000         35000            35000           25000
9    2019-01-10       40000         35000            35000           25000
..          ...         ...           ...              ...             ...
171  2019-06-21       60000         40000            30000           23000
175  2019-06-25       60000         40000            30000           23000
176  2019-06-26       70000         40000            30000           23000
177  2019-06-27       70000         40000            30000           23000
178  2019-06-28       70000         40000            30000           23000

     daging_sapi  minyak_goreng  gula_pasir
1         120000          13500       12000
3         120000          15000       12000
6         120000          15000       12000
7         120000          15000       12000
9         120000          15000       12000
..           ...            ...         ...
171       120000          15000       12000
175       120000          15000       12000
176       120000          15000       12000
177       120000          15000       12000
178       120000          15000       12000

[77 rows x 8 columns]